configuration {
  modes:              [ run ,window, windowcd ];
  display-drun:       "";
  display-run:        "";
  show-icons:         false;
  icon-theme: "Papirus-Apps";
  terminal:           "kitty";
  cycle:              false;
  hide-scrollbar:     true;
  disable-history:    false;
  border:             none;
  full-shadow:        true;
  spacing:            2;
}

@theme "~/.Sora/modules/home-manager/pkgs/rofi/gruvbox.rasi"
